.kdropdown {
    background-color: white;
    max-height: 120px;
    min-width:240px;
    max-width: 480px;
    text-overflow: ellipsis;
    overflow: auto;
    z-index: 99999;
    padding: 5px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.kdropdown div {
    cursor: pointer;
    padding: 2px;
    width: calc(100% - 4px); /* enleve le padding gauche/droite */
    border: 1px solid transparent;
}

.kselect input {
    max-height: 24px;
    min-height: 24px;
    width: calc(100% - 24px);
    background-color: transparent;
    border: none;
    margin: 0.5px 0.5px;
    padding: 0.5px 0.5px;
}

.kdropdown div[data-hover="1"] {
    background-color: var(--k-input-highlight-color);
    border: 1px solid var(--k-input-highlight-border-color);
    transition-delay: 10ms;
}

.kdropdown div .match {
    background-color: var(--k-input-highlight-match-color);
    pointer-events: none;
}

.kselect {
    min-height: 25px;
    max-height: 25px;
    border: 1px solid var(--k-input-border-color);
    background-color: var(--k-input-bg-color);
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.kselect.colored {
    --colored-color: black;
    border-bottom-color: var(--k-colored-color);
    border-bottom-width: thick;
}

.kselect[data-loading="1"]  input {
    background-color: lightgray;
}

.kselect.colored {
    max-height: 22px;
    min-height: 22px;
}

.kselect .arrow {
    cursor: pointer;
    float: right;
    background-color: lightgray;
    color: black;
    text-align: center;
    font-size: 14px;
    min-width: 22px;
    max-width: 22px;
    min-height: 25px;
    max-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kselect.colored .arrow {
    min-height: 26px;
    max-height: 26px;
}